extends layout

block content
 h2.page-header Register
 P Please register using the form below.
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg}
 form(method='post' action='/users/register',
 enctype='multipart/form-data')
  .form-group
   lable Name
   input.form-control(name='name', type='text',
   placeholder='Enter Name')
  .form-group
   lable Email
   input.form-control(name='email', type='email',
   placeholder='Enter Email')
  .form-group
   lable Username
   input.form-control(name='username', type='text',
   placeholder='Enter Username')
  .form-group
   lable Password
   input.form-control(name='password', type='Password',
   placeholder='Enter Password')
  .form-group
   lable Confirm password
   input.form-control(name='password2', type='Password',
   placeholder='Confirm Password')
  .form-group
   lable Profile Image
   input.form-control(name='profileimage', type='file')
  input.btn.btn-primary(type='submit', name='submit',value='Register')
